.header-container {
    position: relative;
    width: 100%;
}

.header-container >
.header-wrapper {
    position: relative;
    width: 100%;
    background: linear-gradient(180deg, 
    rgba(0, 0, 0, 0.8000) 0.000%, 
    rgba(0, 0, 0, 0.7889) 8.333%, 
    rgba(0, 0, 0, 0.7556) 16.67%, 
    rgba(0, 0, 0, 0.7000) 25.00%, 
    rgba(0, 0, 0, 0.6222) 33.33%, 
    rgba(0, 0, 0, 0.5222) 41.67%, 
    rgba(0, 0, 0, 0.4000) 50.00%,
    rgba(0, 0, 0, 0.2778) 58.33%, 
    rgba(0, 0, 0, 0.1778) 66.67%, 
    rgba(0, 0, 0, 0.1000) 75.00%, 
    rgba(0, 0, 0, 0.04444) 83.33%, 
    rgba(0, 0, 0, 0.01111) 91.67%, 
    rgba(0, 0, 0, 0.000) 100.0%);
    z-index: 4;
}

.header-wrapper-inner {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 120rem;
    height: 7.5rem;
    padding: 0 1.5rem;
    margin: 0 auto -7.5rem auto;
}

.header-wrapper > 
.header-wrapper-inner >
.wrapper-homePage-body-header {
    height: 5rem;
    width: 100%;
    display: inherit;
}

.wrapper-homePage-body-header > 
.navbar {
    height: inherit;
    margin-top: -0px;
    margin-left: -16px;
    width: calc(100% + 16px);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
}

.wrapper-homePage-body-header > 
.navbar >
.navbar-brand {
    display: inline-flex;
    width: auto;
    flex-wrap: wrap;
    flex: 0 auto;
    padding: 0px;
    margin-top: 0px;
    margin-left: 16px;
    margin-right: 0;
}

.navbar >
.navbar-brand >
.smallLogo-container {
    display: block;
}

.navbar >
.navbar-brand >
.logo-container {
    display: none;
}

.navbar >
.navbar-brand >
.smallLogo-container > 
.c-logo-svg {
    display: block;
    width: 1.10225rem;
    height: 2rem;
    flex-shrink: 0;
}

.navbar >
.navbar-brand >
.logo-container > 
.c-logo-svg {
    width: 9.25rem;
    height: 2.5rem;
    color: rgb(229, 9, 20);
    fill: currentColor;
    display: block;
}

.wrapper-homePage-body-header > 
.navbar > 
.navbar-toggler {
    display: block;
}

.wrapper-homePage-body-header > 
.navbar > 
#navbarNavDropdown {
    display: none !important;
}

.wrapper-homePage-body-header > 
.navbar > 
#navbarNavDropdown.collapse.show {
    position: absolute;
    display: flex !important;
    flex-direction: column;
    top: 4rem;
    right: 0;
}

.wrapper-homePage-body-header > 
.navbar > 
#navbarNavDropdown.collapse.show >
.navbar-nav > .nav-item {
    margin-top: 12px;
    justify-content: flex-end;
}

#navbarNavDropdown > 
.navbar-nav {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin-top: -0px;
    margin-left: -12px;
    width: calc(100% + 12px);
    flex-direction: inherit;
    justify-content: flex-end;
    padding: 3px;
}

#navbarNavDropdown > 
.navbar-nav > 
.nav-item {
    display: inline-flex;
    flex-wrap: wrap;
    flex: 0 1 auto;
    padding: 0;
    margin-top: 0;
    margin-left: 12px;
}

#navbarNavDropdown > 
.navbar-nav > 
.nav-item > 
.nav-link {
    font: inherit;
    margin: 0;
    text-decoration: none;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    letter-spacing: normal;
    line-height: 1;
    user-select: none;
    border: 0;
    cursor: pointer;
    fill: currentColor;
    position: relative;
    transition-duration: 250ms;
    transition-property: background-color, border-color;
    transition-timing-function: cubic-bezier(0.4,0,0.68,0.06);
    vertical-align: text-top;
    width: auto;
    font-size: 0.875rem;
    font-weight: 500;
    min-height: 2rem;
    padding: 0.25rem 1rem;
    border-radius: 100px;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}    

#navbarNavDropdown > 
.navbar-nav > 
.nav-item > 
.nav-link::after {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: inherit;
    transition: inherit;
    border-style: solid;
    border-width: 0.0625rem;
    border-radius: calc(100px - 0.0625rem);
    content: '';
    border-color: rgba(0, 0, 0, 0);
}

@media (min-width: 600px) {
    .header-wrapper > 
    .header-wrapper-inner {
        padding: 0 2rem;
    }
    .wrapper-homePage-body-header > 
    .navbar >
    .navbar-brand {
        flex: 0 0 calc(41.66666666666667% - 16px);
    }
    .wrapper-homePage-body-header > 
    .navbar > 
    #navbarNavDropdown {
        flex: 0 0 calc(58.333333333333336% - 16px);
    }
}

@media (min-width: 960px) {
    .header-wrapper > 
    .header-wrapper-inner {
        padding: 0 2.25rem;
    }
    .wrapper-homePage-body-header > 
    .navbar >
    .navbar-brand {
        flex: 0 0 calc(33.333333333333336% - 16px);
    }
    .navbar >
    .navbar-brand >
    .smallLogo-container {
        display: none;
    }
    .navbar >
    .navbar-brand >
    .logo-container {
        display: block;
    }
    .wrapper-homePage-body-header > 
    .navbar > 
    .navbar-toggler {
        display: none;
    }
    .wrapper-homePage-body-header > 
    .navbar > 
    #navbarNavDropdown {
        display: flex !important;
        flex-wrap: wrap;
        justify-content: flex-end;
        padding: 0px;
        margin-top: 0px;
        margin-left: 16px;
        flex: 0 0 calc(66.66666666666667% - 16px);
    }
}

@media (min-width: 1280px) {
    .header-wrapper > 
    .header-wrapper-inner {
        padding: 0 3rem;
    }
    .header-wrapper > 
    .header-wrapper-inner >
    .wrapper-homePage-body-header {
        height: 5.5rem;
    }
    .wrapper-homePage-body-header > 
    .navbar > 
    #navbarNavDropdown {
        flex: 0 0 calc(66.66666666666667% - 16px);
    }
}
